---
import { Image } from 'astro:assets'
import instagramLogo from '../images/instagram.svg'
import latte1 from "../images/latte1.jpg"
import latte2 from "../images/latte2.jpg"
import latte3 from '../images/latte3.jpg'
import kapeCrew from "../images/kape-crew.jpg"
import kapeCrew2 from "../images/kape-crew2.jpg"
---

<section class="bg-kape-gray">
    <div class="max-w-[1200px] pt-16 px-3 mx-auto flex flex-col gap-4 md:flex-row md:justify-between md:items-center md:gap-0">
        <!-- Follow us Section -->
        <h2 class="flex text-[2rem] text-kape-beige items-center gap-4 uppercase font-bold">
            <span>
                <Image src={instagramLogo} alt={'Instagram logo'}/>
            </span>
            Follow us
        </h2>
        <a href="https://www.instagram.com/kapecoffee.co/" target="_blank" class="text-2xl text-kape-orange font-bold md:hover:scale-110">
            @kapecoffee.co
        </a>
    </div>
    <!-- Images container -->
    <div class="mx-auto pt-8 flex">
        <div class="w-1/3 md:w-1/4 ">
            <Image src={latte1} alt={"latte"}/>
        </div>
        <div class="w-1/3 md:w-1/4">
            <Image src={kapeCrew} alt={"Kape crew"}/>
        </div>
        <div class="w-1/3 md:w-1/4">
            <Image src={latte2} alt={"latte"}/>
        </div>
        <div class="hidden md:inline-flex md:w-1/4 md">
            <Image src={kapeCrew2} alt={"Kape crew"} />
        </div>
        <div class="hidden md:inline-flex md:w-1/4 md">
            <Image src={latte3} alt={"latte"} />
        </div>
    </div>
</section>